<<<<<<< HEAD
h2 {
  text-align: center;
}
.select-grande{   
   font-size: 20pt;   
   font-family : verdana,arial,helvetica;   
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px; /* Altura del banner */
    background-color: #f4f4f4; /* Color de fondo, puedes cambiarlo según tus preferencias */
    overflow: hidden; /* Esto oculta cualquier parte de la imagen que pueda exceder el tamaño del contenedor */
}

.banner img {
    width: 670px; /* Ancho del banner */
    height: 130px; /* Altura del banner */
=======
h2 {
  text-align: center;
}
.select-grande{   
   font-size: 20pt;   
   font-family : verdana,arial,helvetica;   
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px; /* Altura del banner */
    background-color: #f4f4f4; /* Color de fondo, puedes cambiarlo según tus preferencias */
    overflow: hidden; /* Esto oculta cualquier parte de la imagen que pueda exceder el tamaño del contenedor */
}

.banner img {
    width: 670px; /* Ancho del banner */
    height: 130px; /* Altura del banner */
>>>>>>> 874e0ab04d19a92fa5cb3e836e0d41d3e0266fbe
}